In [5]:
import pandas as pd
import requests

rapid_trans_facilities = pd.read_csv('../stop_geometry/rapid_transit_facilities.csv')

# Replace 'YOUR_API_KEY' with your actual Walk Score API key
API_KEY = 'b12d2c039749ebd2e8f67ffe0d9f2b83'

# Function to get Walk Score for a given latitude and longitude
def get_walk_score(lat, lon):
    url = 'https://api.walkscore.com/score'
    params = {
        'format': 'json',
        'lat': lat,
        'lon': lon,
        'transit': 1,
        'bike': 1,
        'wsapikey': API_KEY
    }
    try:
        response = requests.get(url, params=params)
        response.raise_for_status()
        data = response.json()
        if data['status'] == 1:  # Successful response
            return data['walkscore']
        else:
            return None  # If no score is available or other statuses
    except Exception as e:
        print(f"Error retrieving Walk Score for ({lat}, {lon}): {e}")
        return None

# Apply the function to each row and store results in a new 'walk_score' column
rapid_trans_facilities['walk_score'] = rapid_trans_facilities.apply(lambda row: get_walk_score(row['stop_lat'], row['stop_lon']), axis=1)

rapid_trans_facilities

,Unnamed: 0,stop_id,stop_name,stop_lat,stop_lon,geometry,walk_score
0,7212,70061,Alewife,42.396158,-71.139971,POINT (-71.139971 42.396158),79
1,7223,70126,Allston Street,42.348649,-71.137881,POINT (-71.137881 42.348649),93
2,7226,170140,Amory Street,42.350901,-71.114318,POINT (-71.114318 42.350901),88
3,7234,70083,Andrew,42.330154,-71.057655,POINT (-71.057655 42.330154),89
4,7266,70047,Airport,42.374262,-71.030395,POINT (-71.030395 42.374262),93
...,...,...,...,...,...,...,...
120,9531,70049,Wood Island,42.379740,-71.022818,POINT (-71.022818 42.37974),83
121,9559,70099,Wollaston,42.266762,-71.020542,POINT (-71.020542 42.266762),89
122,9601,70059,Wonderland,42.413514,-70.991714,POINT (-70.991714 42.413514),65
123,9649,70162,Woodland,42.332703,-71.243055,POINT (-71.243055 42.332703),21
124,9654,70124,Warren Street,42.348285,-71.140436,POINT (-71.140436 42.348285),89

In [ ]:
rapid_trans_facilities.drop(columns=["Unnamed: 0"],inplace=True)

rapid_trans_facilities.to_csv("rapid_trans_facilities_wlkscore.csv")